Repository redhat-developer/rhdh-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bethgriggs, @nickboldt, @kim-tsao, @04kash, @christoph-jerolimov, @debsmita1, @rm3l, @ciiay, @divyanshiGupta, @karthikjeeyar, @yangcao77, @rohitkrai03, @batzionb, @mareklibra, @gciavarrini

fix
  workspaces/orchestrator/plugins/orchestrator/src/components/WorkflowRunsTabContent.tsx
Owners: @batzionb, @mareklibra, @gciavarrini

sorting
  workspaces/orchestrator/plugins/orchestrator/src/components/WorkflowRunsTabContent.tsx
Owners: @batzionb, @mareklibra, @gciavarrini

yarn prettier --write
  workspaces/orchestrator/plugins/orchestrator/src/components/WorkflowInstancePageContent.tsx
Owners: @batzionb, @mareklibra, @gciavarrini

fix(orchestrator):workflow name column values in workflow runs table … (#221)
  workspaces/orchestrator/.changeset/breezy-elephants-sit.md
  workspaces/orchestrator/plugins/orchestrator/src/components/WorkflowDialog.tsx
  workspaces/orchestrator/plugins/orchestrator/src/components/WorkflowEditor/WorkflowEditor.tsx
  workspaces/orchestrator/plugins/orchestrator/src/components/WorkflowPage/WorkflowDetailsTabContent.tsx
  workspaces/orchestrator/plugins/orchestrator/src/components/WorkflowRunsTabContent.tsx
  workspaces/orchestrator/plugins/orchestrator/src/components/WorkflowsTable.tsx
  workspaces/orchestrator/plugins/orchestrator/src/routes.ts
Owners: @batzionb, @mareklibra, @gciavarrini

chore(orchestrator): move backstage types package to devDependencies (#226)
  workspaces/orchestrator/plugins/orchestrator-form-react/package.json
Owners: @batzionb, @mareklibra, @gciavarrini

Version Packages (#190)
  workspaces/bulk-import/.changeset/renovate-062c771.md
  workspaces/bulk-import/.changeset/renovate-1e421c5.md
  workspaces/bulk-import/.changeset/renovate-574a86f.md
  workspaces/bulk-import/.changeset/renovate-7d43d59.md
  workspaces/bulk-import/.changeset/renovate-ab072c4.md
  workspaces/bulk-import/.changeset/renovate-b7ffa56.md
  workspaces/bulk-import/.changeset/renovate-ded128c.md
  workspaces/bulk-import/plugins/bulk-import-backend/CHANGELOG.md
  workspaces/bulk-import/plugins/bulk-import-backend/package.json
  workspaces/bulk-import/plugins/bulk-import-common/CHANGELOG.md
  workspaces/bulk-import/plugins/bulk-import-common/package.json
  workspaces/bulk-import/plugins/bulk-import/CHANGELOG.md
  workspaces/bulk-import/plugins/bulk-import/package.json
Owners: @christoph-jerolimov, @debsmita1, @rm3l

docs(orchestrator): improve README
  workspaces/orchestrator/Maintainers.md
  workspaces/orchestrator/README.md
  workspaces/orchestrator/docs/Contributors.md
  workspaces/orchestrator/docs/Permissions.md
  workspaces/orchestrator/docs/extensibleForm.md
  workspaces/orchestrator/docs/userInterface.png
Owners: @batzionb, @mareklibra, @gciavarrini

fix(orchestrator): Workflow progress panel should have a scroll
  workspaces/orchestrator/.changeset/lucky-melons-play.md
  workspaces/orchestrator/plugins/orchestrator/src/components/WorkflowInstancePageContent.tsx
Owners: @batzionb, @mareklibra, @gciavarrini

add details on github authentication
  workspaces/orchestrator/docs/Contributors.md
Owners: @batzionb, @mareklibra, @gciavarrini

fix(orchestrator): Workflow progress panel should have a scroll (#231)
  workspaces/orchestrator/.changeset/lucky-melons-play.md
  workspaces/orchestrator/plugins/orchestrator/src/components/WorkflowInstancePageContent.tsx
Owners: @batzionb, @mareklibra, @gciavarrini

marketplace: add catalog and backend api clients
  workspaces/marketplace/plugins/marketplace/package.json
  workspaces/marketplace/plugins/marketplace/src/api/MarketplaceBackendClient.tsx
  workspaces/marketplace/plugins/marketplace/src/api/MarketplaceCatalogClient.tsx
  workspaces/marketplace/plugins/marketplace/src/api/index.ts
  workspaces/marketplace/plugins/marketplace/src/components/MarketplaceCatalogContent.tsx
  workspaces/marketplace/plugins/marketplace/src/hooks/usePluginList.ts
  workspaces/marketplace/plugins/marketplace/src/hooks/usePlugins.ts
  workspaces/marketplace/plugins/marketplace/src/plugin.ts
  workspaces/marketplace/yarn.lock
Owners: @christoph-jerolimov, @debsmita1, @divyanshiGupta

use catalogApi client to fetch data
  workspaces/marketplace/plugins/marketplace/src/api/MarketplaceCatalogClient.tsx
  workspaces/marketplace/plugins/marketplace/src/hooks/usePluginList.ts
Owners: @christoph-jerolimov, @debsmita1, @divyanshiGupta

feat(marketplace): use catalogApi to fetch marketplace plugins (#170)
  workspaces/marketplace/plugins/marketplace/package.json
  workspaces/marketplace/plugins/marketplace/src/api/MarketplaceBackendClient.tsx
  workspaces/marketplace/plugins/marketplace/src/api/MarketplaceCatalogClient.tsx
  workspaces/marketplace/plugins/marketplace/src/api/index.ts
  workspaces/marketplace/plugins/marketplace/src/components/MarketplaceCatalogContent.tsx
  workspaces/marketplace/plugins/marketplace/src/hooks/usePlugins.ts
  workspaces/marketplace/plugins/marketplace/src/plugin.ts
  workspaces/marketplace/yarn.lock
Owners: @christoph-jerolimov, @debsmita1, @divyanshiGupta

.github/CODEOWNERS:

# This file registers ownership for certain parts of the rhdh-plugins code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @bethgriggs @nickboldt @kim-tsao @04kash
/workspaces/bulk-import                             @christoph-jerolimov @debsmita1 @rm3l
/workspaces/homepage                                @christoph-jerolimov @ciiay @debsmita1
/workspaces/marketplace                             @christoph-jerolimov @debsmita1 @divyanshiGupta
/workspaces/openshift-image-registry                @christoph-jerolimov @debsmita1 @divyanshiGupta
/workspaces/theme                                   @christoph-jerolimov @ciiay @debsmita1
/workspaces/lightspeed                              @karthikjeeyar @yangcao77 @rohitkrai03
/workspaces/orchestrator                            @batzionb @mareklibra @gciavarrini
/workspaces/global-header                           @christoph-jerolimov @ciiay
