Repository redhat-developer/rhdh-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bethgriggs, @nickboldt, @kim-tsao, @04kash, @coreydaley, @rohitkrai03, @karthikjeeyar, @christoph-jerolimov, @debsmita1, @rm3l, @ciiay, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff, @yangcao77, @batzionb, @mareklibra, @gciavarrini

.github/CODEOWNERS:

# This file registers ownership for certain parts of the rhdh-plugins code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @bethgriggs @nickboldt @kim-tsao @04kash @coreydaley

/workspaces/adoption-insights                       @rohitkrai03 @karthikjeeyar 
/workspaces/bulk-import                             @christoph-jerolimov @debsmita1 @rm3l
/workspaces/global-floating-action-button           @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/global-header                           @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/homepage                                @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff
/workspaces/lightspeed                              @karthikjeeyar @yangcao77 @rohitkrai03
/workspaces/marketplace                             @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff @karthikjeeyar
/workspaces/openshift-image-registry                @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff @karthikjeeyar
/workspaces/orchestrator                            @batzionb @mareklibra @gciavarrini
/workspaces/theme                                   @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @gashcrumb @its-mitesh-kumar @logonoff

feat(adoption-insights): add permission support in adoption-insights frontend
  workspaces/adoption-insights/plugins/adoption-insights/README.md
  workspaces/adoption-insights/plugins/adoption-insights/package.json
  workspaces/adoption-insights/plugins/adoption-insights/src/components/ActiveUsers/__tests__/ActiveUsers.test.tsx
  workspaces/adoption-insights/plugins/adoption-insights/src/components/AdoptionInsightsPage/AdoptionInsightsPage.tsx
  workspaces/adoption-insights/plugins/adoption-insights/src/components/AdoptionInsightsPage/__tests__/AdoptionInsightsPage.test.tsx
  workspaces/adoption-insights/plugins/adoption-insights/src/components/Common/PermissionRequiredIcon.tsx
  workspaces/adoption-insights/plugins/adoption-insights/src/components/Common/PermissionRequiredState.tsx
  workspaces/adoption-insights/plugins/adoption-insights/src/components/Common/__tests__/PermissionRequiredState.test.tsx
  workspaces/adoption-insights/plugins/adoption-insights/src/hooks/useAdoptionInsightsEventsReadPermission.tsx
  workspaces/adoption-insights/plugins/adoption-insights/src/images/permission-required.svg
  workspaces/adoption-insights/yarn.lock
Owners: @rohitkrai03, @karthikjeeyar

feat(marketplace): apply appConfig examples to the code editor
  workspaces/marketplace/plugins/marketplace/package.json
  workspaces/marketplace/plugins/marketplace/src/components/CodeEditor.tsx
  workspaces/marketplace/plugins/marketplace/src/components/MarketplacePluginInstallContent.tsx
  workspaces/marketplace/plugins/marketplace/src/utils.ts
  workspaces/marketplace/yarn.lock
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff, @karthikjeeyar

feat(marketplace): apply appConfig examples to the code editor (#515)
  workspaces/marketplace/plugins/marketplace/package.json
  workspaces/marketplace/plugins/marketplace/src/components/CodeEditor.tsx
  workspaces/marketplace/plugins/marketplace/src/components/MarketplacePluginInstallContent.tsx
  workspaces/marketplace/plugins/marketplace/src/utils.ts
  workspaces/marketplace/yarn.lock
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff, @karthikjeeyar

feat(marketplace): addressed meeting feedback + previous pr review comments
  workspaces/marketplace/examples/plugins/tekton.yaml
  workspaces/marketplace/plugins/marketplace/src/components/CodeEditor.tsx
  workspaces/marketplace/plugins/marketplace/src/components/Markdown.tsx
  workspaces/marketplace/plugins/marketplace/src/components/MarketplacePluginInstallContent.tsx
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff, @karthikjeeyar

small fix
  workspaces/marketplace/plugins/marketplace/src/components/MarketplacePluginInstallContent.tsx
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff, @karthikjeeyar

update adoption insights header text
  workspaces/adoption-insights/plugins/adoption-insights/src/components/AdoptionInsightsPage/AdoptionInsightsPage.tsx
Owners: @rohitkrai03, @karthikjeeyar

fix(global-header): Emit search analytics data from global header search bar
  workspaces/global-header/plugins/global-header/src/components/SearchComponent/SearchBar.test.tsx
  workspaces/global-header/plugins/global-header/src/components/SearchComponent/SearchBar.tsx
  workspaces/global-header/plugins/global-header/src/components/SearchComponent/SearchResultItem.test.tsx
  workspaces/global-header/plugins/global-header/src/components/SearchComponent/SearchResultItem.tsx
  workspaces/global-header/plugins/global-header/src/hooks/useDebouncedCallback.ts
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff

add changeset
  workspaces/global-header/.changeset/tall-zoos-pump.md
  workspaces/global-header/plugins/global-header/src/components/SearchComponent/SearchBar.tsx
  workspaces/global-header/plugins/global-header/src/components/SearchComponent/SearchResultItem.tsx
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff

produce 2 csvs
  workspaces/marketplace/packages/cli/cli-report.md
  workspaces/marketplace/packages/cli/src/commands/export-csv/index.ts
  workspaces/marketplace/packages/cli/src/commands/index.ts
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff, @karthikjeeyar

use `spec.packageName` for package name
  workspaces/marketplace/packages/cli/src/commands/export-csv/index.ts
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff, @karthikjeeyar

feat(marketplace): add tests for the utils
  workspaces/marketplace/plugins/marketplace/src/utils.test.ts
  workspaces/marketplace/plugins/marketplace/src/utils.ts
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff, @karthikjeeyar

addressed review comments
  workspaces/marketplace/plugins/marketplace/src/components/MarketplacePluginInstallContent.tsx
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff, @karthikjeeyar

feat(marketplace): add tests for the utils (#521)
  workspaces/marketplace/plugins/marketplace/src/utils.test.ts
  workspaces/marketplace/plugins/marketplace/src/utils.ts
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff, @karthikjeeyar

feat(marketplace): addressed meeting feedback + previous pr review comments (#519)
  workspaces/marketplace/examples/plugins/tekton.yaml
  workspaces/marketplace/plugins/marketplace/src/components/CodeEditor.tsx
  workspaces/marketplace/plugins/marketplace/src/components/Markdown.tsx
  workspaces/marketplace/plugins/marketplace/src/components/MarketplacePluginInstallContent.tsx
Owners: @christoph-jerolimov, @ciiay, @debsmita1, @divyanshiGupta, @gashcrumb, @its-mitesh-kumar, @logonoff, @karthikjeeyar
